{% load static %}

<html>
    <head>
        <title>QuickShare</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" >
            window.onload = app_subtitle_ani('{{os}}','{{device}}');
        </script>
    </head>
    <body>
        <div>
            <div class="container app_title">QuickShare</div>
            <div class="container app_subtitle">
                <span class="app_subtitle_on"> on</span>
                <span id='subtitle' class="app_subtitle_os">{{os}}</span>
            </div>
        </div>
        <div class="section">
            <div class="upload_section">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="header" type="text" name="header" placeholder="W t f" required><br>
                    <textarea class="text" name="text" placeholder="Talk to me.." required></textarea><br><br>
                    <div class="attachment">
                        <div class="attachment_name">
                            <img class="attachment_icon" width="25px" height="25px" src="/static/images/icon2.png">
                        </div>
                        <div class="attachment_button">
                            <input type="file" name="attachment" multiple="" ><br>
                        </div>
                    </div>
                    <br><br><br>
                    <button class="form_upload_button" type="submit" >Upload</button>
                </form>
            </div>
            <div class="upload_section_mimic">

            </div>
            <div class="content_section">
                {% for c in cards %}
                <div class="content_cards">
                    <div class="card_header">
                        {{ c.header }}
                    </div>
                    <div class="card_created_date">
                        {{c.created_date|timesince}}
                    </div>
                    <div class="card_body">
                        <div>
                            <textarea class="card_text" readonly>{{c.text}}</textarea>
                        </div>
                        <div class="card_attch_block">
                            {% if c.attachments %}
                            <div class="card_attch_title">Attachments: </div>
                            {% endif %}
                            <div class="card_attch_links">
                                {% for x in c.attachments %}
                                <a href="{% url 'download' pk=c.pk fname=x %}">{{ x }}</a><br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <div class="footer_link_github">
                <a href="https://www.github.com/georgikjoseph/quickshare">Github</a>
            </div>
            <div class="footer_text">
                &copy; QuickShare
            </div>
        </div>
    </body>

</html>